.top::before {
    content: "";
    width: 100%;
    position: absolute;
    background-color: #08ffc94b;
    height: 35%;
    clip-path: polygon(0 0, 0 80%, 100% 0);
    top: 0;
    left: 0;
}

.top {
    height: 60%;
    background-image: linear-gradient(to bottom, rgba(42, 61, 12, 0.171), rgba(14, 87, 85, 0.767)), url("../../../images/S15_5864-5.png");
    background-size: cover;
    background-position: top;
    border-radius: 1.25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.name {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: .35rem;
    background-color: #08ffc998;
    clip-path: polygon(100% 20%, 0 100%, 100% 100%);
    overflow: hidden;
}

.name h1 {
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
    overflow: hidden;
    color: aliceblue;
}

.bottom {
    background-color: #222831a1;
    padding-bottom: .8rem;
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    font-size: 1.6rem;
    animation: titleHeadAnim 1s ease-in .1s backwards;
    transition: all .5s;
}

.social a:link,
.social a:visited {
    color: whitesmoke;
    transition: all .25s;
}

.social a:hover {
    color: rgba(245, 245, 245, 0.836);
    transform: translateY(-2.5px) scale(1.1);
}

.resume {
    padding: .75rem 0;
    display: flex;
    justify-content: center;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1rem .75rem;
    background-color: #2ec1abd2;
    border: none;
    color: whitesmoke;
    transition: all .25s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #583d72;
    z-index: -1;
    transform: translateX(100%);
    visibility: hidden;
    transition: all .25s;
}

.btn:hover::before {
    transform: translateX(0);
    visibility: visible;
}

@media only screen and (max-width:1025px) {

    .footer__collapse {
        display: none;
    }

    .name h1 {
        font-family: 'Poppins', sans-serif;
        color: aliceblue;
    }
}

@media only screen and (max-width:800px) {
    .top {
        height: 25rem;
    }

    .top::before {
        height: 17.5%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .name {
        height: 20%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media only screen and (max-width:600px) {
    .top {
        height: 30rem;
    }

    .name {
        background-color: #08ffc931;
    }
}

/* animation  */
@keyframes titleHeadAnim {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}