.about {
    min-height: 70.25vh;
    margin-top: 1.75rem;
    width: 100%;
    background-color: #222831a1;
    padding: 1.5rem 1rem;
}

@media only screen and (max-width:1025px) {
    .about {
        min-height: 50.5vh;
    }
}