.header {
    display: flex;
    max-width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 3rem;
}

.left {
    margin-right: 1.25%;
    flex: 0 0 25%;
    height: 100vh;
}

.right {
    margin-left: 1.25%;
    flex: 1;
}