.header {
    display: flex;
    max-width: 71rem;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 3rem;

}

.left {
    margin-right: 1.25%;
    flex: 0 0 25%;
    height: 100vh;

}

.right {
    margin-left: 1.25%;
    flex: 1;
}

@media only screen and (max-width:1025px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .left {
        display: none;
        height: 0;
    }

    .right {
        margin-left: 0;
        margin: 0 2.5%;
    }
}

@media only screen and (max-width:600px) {
    .right {
        margin: 0 1rem;
    }
}