.head {
    min-height: 66.68vh;
    margin-top: 1.75rem;
    width: 100%;
    background-color: #222831a1;
    padding: 3rem;
}

.head h2 {
    font-family: 'Vibur', cursive;
    margin-bottom: 1.2rem;
}

.head h1 {
    font-family: 'Vibur', cursive;
    font-size: 2.5rem;
    color: #1ee3cfe1;
    animation: titleHeadAnim 1s ease-in-out .15s backwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    transition: all 1s;
}

.left span {
    display: block;
}

.right {
    display: none;
}

.paragraph {
    padding: 1.5rem 0;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    cursor: pointer;
    padding: 1rem .75rem;
    background-color: #2ec1abcc;
    border: none;
    color: whitesmoke;
    transition: all .25s;
    font-size: 1.125rem;
}

.btn:hover {
    background-color: #583d72;
}

@media only screen and (max-width:1025px) {
    .head {
        min-height: 80vh;
        display: flex;
    }

    .left {
        flex: 1;
        padding: 0 1.5rem;
    }

    .right {
        display: block;
        flex: 0 0 50%;
    }

}

@media only screen and (max-width:700px) {
    .right {
        flex: 0 0 35%;
    }
}

@media only screen and (max-width:600px) {
    .head {
        flex-direction: column;
        padding: 1.5rem;
    }

    .right {
        order: -1;
        margin-bottom: 3rem;
    }

    .btnBox {
        text-align: center;
    }
}

/* animation  */
@keyframes titleHeadAnim {
    0% {
        transform: scale(.85) translateY(-10px);
        opacity: .5;
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }

}