.footer {
    background-color: rgba(245, 245, 245, 0.315);
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: .75rem;
}