* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 7, 8, 0.85), rgba(0, 7, 8, 0.85)), url("./images/bg1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: aliceblue;
}

@media only screen and (max-width:1180px) {
  html {
    font-size: 85%;
  }
}

@media only screen and (max-width:1015px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width:945px) {
  html {
    font-size: 75%;
  }
}