.navigation {
    font-weight: 400;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    background-color: #222831a1;
    backface-visibility: hidden;
}

.navigation p {
    position: relative;
}

.navigation p span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.75rem;
    opacity: .2;
}

.navigation a:link,
.navigation a:visited {
    display: block;
    color: white;
    font-weight: 400;
    text-decoration: none;
    transition: all .35s;
    position: relative;
}

.navigation a:hover {
    backface-visibility: hidden;
    color: rgb(29, 184, 184);
}

.active {
    color: rgb(29, 184, 184) !important;
}

@media only screen and (max-width:600px) {
    .navigation p span {
        font-size: 2rem;
    }
}